---
layout: default
---

{% include slider-becoming-sponsor.html %}

<!-- Content -->
<div class="block">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <section id="main-content">
          <header>
            <h1>FAB’18 Sponsorship Opportunities</h1>
          </header>
          <div class="section-content">
          <p>
          FAB 2018 is a one day symposium that brings together
          researchers and practitioners of blockchain technology
          together to share and exchange results.  It is a premier forum
          for companies to promote their technology, synergize with one
          another, meet and hire qualified employees.
          </p>
          <a id="guidelines"><h2>Topics</h2></a>
          <p>
          FAB 2018 spans diverse disciplines ranging from Computer
          Science and Engineering to Communications, Social Sciences,
          Public Policy, Entertainment, Environmental Conservation,
          Medical Practices, Banking and Finance, Journalism, and
          Political Sciences to name a few.  Visit
          <a href="https://scfab.github.io/2018/papers.html">
             https://scfab.github.io/2018/papers.html
          </a>
           for a complete list of topics.
          </p>
          </div><!-- /.section-content -->
          <a id="guidelines"><h2>Choose Your Sponsorship Level</h2></a>
          {% include pricing.html %}
          <a id="guidelines"><h2>Contact Information</h2></a>
          <p>
          Heidi Pease, LA Blockchain Lab
          <br>
          FAB’18 Industrial Sponsor Chair
          <br>
          email: heidi@blockchainla.org
          </p>
        </section><!-- /.main-content -->
      </div><!-- /.col-md-12 -->

    </div><!-- /.row -->
  </div><!-- /.container -->
</div>
<!-- end Content -->
