---
layout: default
---

{% include slider-co.html %}

<!-- Content -->
<div class="block">
 <div class="container">
  <div class="row">
  <!--MAIN Content-->
   <div class="col-md-9">
    <div id="page-main">
     <section id="members">
      <header><h1>Organizing Committee</h1></header>
      <section id="general-chair">
          <div class="row">
          <div class="col-md-6">
          <header>
              <h2  class="no-divider">
                  General chair
              </h2>
          </header>{%
                  include author-block-no-padding.html
                  link="http://ceng.usc.edu/~bkrishna/"
                  name="Bhaskar Krishnamachari"
                  org="University of Southern
                  California" %}
          </div>
          </div>
      </section><!-- /#general-chair -->
      <section id="program-chairs">
       <header><h2 class="no-divider">Program chair</h2></header>
       <div class="row">
       <div class="col-md-6">
           {% include author-block-no-padding.html
           link="http://perspolis.usc.edu/Users/shahram/" name="Shahram
           Ghandeharizadeh" org="University of Southern California" %}
       </div>
       </div>
     </section><!-- /#program-chairs -->
      <section id="industrial-chairs">
       <header><h2 class="no-divider">Industrial chair</h2></header>
       <div class="row">
       <div class="col-md-6">
           {% include author-block-no-padding.html
           link="" name="Heidi
           Pease" org="HomeSideKick Inc. and LA Blockchain Lab" %}
       </div>
       </div>
      </section><!-- /#industrial-chair-->
      <section id="proceedings-chairs">
       <header><h2 class="no-divider">Proceedings chair</h2></header>
       <div class="row">
       <div class="col-md-6">
           {% include author-block-no-padding.html
           link="" name="Sumita
           Barahmand" org="Microsoft" %}
       </div>
       </div>
      </section><!-- /#industrial-chair-->
     </section><!-- /#members -->
    </div><!-- /#page-main -->
   </div><!-- /.col-md-6 -->
  </div><!-- /.row -->
 </div><!-- /.container -->
</div>
<!-- end Content -->
