---
layout: default
---

{% include slider-pc.html %}

<!-- Content -->
<div class="block">
 <div class="container">
  <div class="row">
  <!--MAIN Content-->
   <div class="col-md-9">
    <div id="page-main">
     <section id="members">
      <header><h1>Program Committee</h1></header>
      <section id="program-chairs">
       <header><h2 class="no-divider">Program chair</h2></header>
       <div class="row">
       <div class="col-md-6">
           {% include author-block-no-padding.html
           link="http://perspolis.usc.edu/Users/shahram/" name="Shahram
           Ghandeharizadeh" org="University of Southern California" %}
       </div>
       </div>
      </section><!-- /#program-chairs -->
      <section id="program-chairs">
       <header><h2 class="no-divider">Program committee</h2></header>
       <div class="row">
       <div class="col-md-6">
           {% include author-block-no-padding.html
           link="" name="Sumita
           Barahmand" org="Microsoft" %}
           {% include author-block-no-padding.html link=""
           name="Yu Chen" org="State University of New York - Binghamton"%}
           {% include author-block-no-padding.html link=""
           name="Bhagwan Chowdhry" org="UCLA"%}
           {% include author-block-no-padding.html link=""
           name="Eric Chung" org="DApperNetwork"%}
           {% include author-block-no-padding.html link=""
           name="Ming-Deh Huang" org="University of Southern California"%}
           {% include author-block-no-padding.html link=""
           name="Eric Diehl" org="Sony Pictures Entertainment"%}
           {% include author-block-no-padding.html link=""
           name="Abdelkader Hameurlain" org="Paul Sabatier University,
           Toulouse, France"%}
           {% include author-block-no-padding.html link=""
           name="Zhiyuan Jiang" org="Tsinghua University"%}
       </div>
       <div class="col-md-6">
           {% include author-block-no-padding.html link=""
           name="Lou Kerner" org="Flight VC"%}
           {% include author-block-no-padding.html link=""
           name="Genevieve Leveille" org="Otentic8"%}
           {% include author-block-no-padding.html link=""
           name="Chen Li" org="UC Irvine"%}
           {% include author-block-no-padding.html link=""
           name="David MacFadyen" org="UCLA"%}
           {% include author-block-no-padding.html link=""
           name="Beng Chin Ooi" org="National University of Singapore"%}
           {% include author-block-no-padding.html link=""
           name="Avinash Sridharan" org="Mesosphere"%}
           {% include author-block-no-padding.html link=""
           name="Nick Vyas" org="University of Southern California"%}
           {% include author-block-no-padding.html link=""
           name="Kiran Yedavalli" org="Cisco"%}
       </div>
       </div>
      </section><!-- /#program-committee-->
     </section><!-- /#members -->
    </div><!-- /#page-main -->
   </div><!-- /.col-md-6 -->
  </div><!-- /.row -->
 </div><!-- /.container -->
</div>
<!-- end Content -->
