---
layout: default
---

{% include slider-schedule.html %}

<!-- Content -->
<div class="block">
<div class="container">
<div class="row">
  <div class="col-md-9">
    <section id="main-content">
      <div class="section-content">
        <h2>Symposium Schedule</h2>
        <p>Hughes Aircraft Electrical Engineering Center (EEB),
        University of Southern California.</p>
        {% include session.html date="Friday, March 9th" key="day1"
        showlinks="true" %}
      </div><!-- /.section-content -->
    </section><!-- /.main-content -->
  </div><!-- /.col-md-9 -->
</div><!-- /.row -->
</div><!-- /.container -->
</div>
<!-- end Content -->

