<div class="row">
  <div class="col-md-6" style="padding-left:0; padding-right:0;">
     <a href="https://www.elev8con.com/" target="_blank" rel="nofollow"><img
         alt="https://www.elev8con.com/" border="0" height="45"
         src="assets/img/ELEV8.png" style="border:0px currentColor" width="85" height="45" /></a>
  </div>
  <!-- <div class="col-md-6" style="padding-left:0; padding-right:0;">
     <a href="https://minghsiehee.usc.edu/mhi-home/" target="_blank" rel="nofollow"><img
         alt="https://minghsiehee.usc.edu/mhi-home/" border="0"
         src="assets/img/usc_MHI.png" style="border:0px currentColor"
         width="100%" /></a>
  </div> -->
</div>
